.container{
    padding: 50px;
    margin: 0;
    background-color: #f5ddd5;
    font-weight:500 ;
    font-size:1.2rem ;
    height:100vh ;
  }
  .list-todo{
background-color:white ;
color:2d313f ;
border-radius: 15px;
padding: 20px 30px;

  }
  .list-todo input{
    border-radius: 8px;
border-color: blue;
padding: 8px;
  }
  .list-todo button{
    border-radius: 10px;
    background-color: rgb(196, 0, 0);
    color: white;
    border: none;
    margin-left: 1em;
    font-size: 0.8rem;;
    padding: 8px 20px;
  }